:root {
  --primary-color: #7ed957;
  --background-color: #272927;
}

#root {
  max-width: 650px;
  max-height: 650px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--background-color);
}

/* Album Art */
.aa-container {
  min-width: 256px;
  min-height: 256px;
}


/* Page */
.page {
  overflow: hidden;

}